@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
          to bottom,
          transparent,
          rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));
}

/* 在全局css中添加 */
.record-item {
  @apply flex items-center justify-between py-2 px-3 hover:bg-gray-50;
  border-bottom: 1px solid #f0f0f0;
}
/* 全局样式 */
.lucky-container {
  height: clamp(480px, 60vh, 600px); /* 动态高度区间 */
  padding: 8px;
}

.record-container {
  height: clamp(320px, 40vh, 480px); /* 与左侧高度比例协调 */
}
